body{
	background-color: #eee;
	padding-top: 57px;
	padding-bottom: 57px;
	height: 100%;
}

.bh-span-small{
	/*font-weight: normal;*/
	font-size: 12px;
}


.bh-show-dian{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}