
body{
	background-color: #eee;
	padding-top: 57px;
	padding-bottom: 57px;
	height: 100%;
}


/*Index*/
.bh-index-nav .bh-header-cart {
    position: relative;
}

.bh-index-nav .bh-header-cart img{
    height: 35px;
}

.bh-index-nav .bh-header-cart span{
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background-color: #D82B34;
    color: #fff;
    text-align: center;
    line-height: 25px;
    position: absolute;
    right: -6px;
    top: -6px;
}


/*Search*/
.bh-search{
	position: relative;
	padding-left: 0;
}
.bh-search .form-control{
	padding-left: 30px;
}
.bh-search span{
	position: absolute;
	top: 12px;
	left: 9px;
	color: #333;
}


/*Common*/
.bh-h-full{
	height: 100%;
}






.bh-span-small{
	/*font-weight: normal;*/
	font-size: 12px;
}


.bh-show-dian{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}


/*footer*/
.bh-footer{
	padding-bottom: 0px;
	padding-top: 0px;
}
.bh-footer a img{
	height: 30px;
}
.bh-footer a.active{
	color: #D82B34;
}

.bh-footer a span{
	display: block;
	font-size: 12px;
	text-align: center;
}